<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/cardidentity.css">
    <title>Document</title>
    <style>
        /* .fit {
            width: 80%;
            overflow: hidden;
            border: 1px solid red;
        }

        .fit::after {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            margin-top: 50%;
        } */

        /* margin 是一个百分比的值 那么它的计算逻辑是什么？ */
    </style>
</head>


<body>
    <!--capture="camera"  手机端可以使用摄像头  -->
    <!-- <input type="file" accept="image/*" capture="camera" />   -->
    <!-- <div class="fit"></div> -->
    <div class="identity">
        <div class="identity_bank"></div>
        <div class="identity_upload">
            <p>银行卡识别</p>
            <p>图像建议：大小在200KB左右，位深度24以上</p>
            <p>扫描图像建议：分辨率吧为300DPI，小于3M</p>
            <label for="picture" class="btn">上传文件</label>
            <input type="file" id="picture" class="picture">

        </div>
    </div>
    <div class=" result">
    </div>
    <script src="../lib/jquery-3.4.1.min.js"></script>
    <script src="../script/cardidentity.js"></script>
</body>

</html>